__pycache__
.vscode
.env

python_results/hdbscan/readsb-hist_filtered_by_Taiwan_manual_edges/**/*.html

// python_results/kmeans/readsb-hist_filtered_by_Taiwan_manual_edges/min_20_epsilon_0_07/*.html
// python_results/kmeans/readsb-hist_filtered_by_Taiwan_manual_edges/min_70_epsilon_1_1/*.html
// python_results/kmeans/readsb-hist_filtered_by_Taiwan_manual_edges/min_90_epsilon_1_0/*.html

**.pptx
**.pdf

data/*
!data/filter_regions
!data/直轄市、縣(市)界線1140318

model.py
logs